@model MvcCv.Models.Entity.TblHobilerim
@{
    ViewBag.Title = "HobiDuzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h4>Hobi Düzenleme Sayfası</h4>
<br/>
<form method="post">
    @Html.Label("Hobi 1")
    @Html.TextBoxFor(x=>x.Aciklama1, new { @class = "form-control" })
    <br/>
    @Html.Label("Hobi 2")
    @Html.TextBoxFor(x=>x.Aciklama2, new {@class="form-control" })
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>

