@using MvcCv.Models.Entity
@model List<TblHobilerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br/>
<h4>Hobiler Listesi</h4>
<br/>
<table class="table">
    <tr>
        <th>Hobi 1</th>
        <th>Hobi 2</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Aciklama1</td>
            <td>@item.Aciklama2</td>
            <td><a href="/Hobilerim/HobiSil/@item.ID" class="btn btn-danger">Sil</a>
            <a href="/Hobilerim/HobiDuzenle/@item.ID" class="btn btn-warning">Düzenle</a></td>
        </tr>
        }  
    </tbody>
</table>
<a href="/Hobilerim/HobiEkle/" class="btn btn-info bg-gradient-teal">Yeni Hobi Ekle</a>

